<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="index.js"></script>
    <title>Calculadora Básica</title>
</head>
<body>
    <div>
        <input type="text" id="teclado" readonly>
    </div>
    <!-- <div>
        <button onclick="visor('**')">X2</button>
        <button onclick="visor('8')">%</button>
        <button onclick="visor('9')">+/-</button>
        <button onclick="visor('+')">+</button>
    </div> -->
    <div>
        <button onclick="visor('7')">7</button>
        <button onclick="visor('8')">8</button>
        <button onclick="visor('9')">9</button>
        <button onclick="visor('+')">+</button>
    </div>
    <div>
        <button onclick="visor('4')">4</button>
        <button onclick="visor('5')">5</button>
        <button onclick="visor('6')">6</button>
        <button onclick="visor('-')">-</button>
    </div>
    <div>
        <button onclick="visor('1')">1</button>
        <button onclick="visor('2')">2</button>
        <button onclick="visor('3')">3</button>
        <button onclick="visor('*')">*</button>
    </div>
    <div>
        <button onclick="limpaVisor()">C</button>
        <button onclick="visor('0')">0</button>
        <button onclick="Resultado()">=</button>
        <button onclick="visor('/')">/</button>
    </div>
</body>
</html>
