#teclado{
    width: 190px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    width: 48px;
    height: 48px;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}